<div class="infos">
	<div class="title" id="title{{ news.id }}">
		{{ news.buildLinks|raw }}
	</div>
	<div class="autre">
		{{ news.authorString|raw }} | {{ news.dates }}. {{ news.embedComments|raw }}
	</div>
</div>
<div align="center" class="cont">
	&nbsp;&nbsp;&nbsp;{{ news.content|raw }}
</div>