{% extends layout %}

{% block page_content %}
	{% for new in news %}
		<div class="post">
			<div class="content">
				{% include "News/_news.html" with {'news': new} %}
			</div>
		</div>
	{% else %}
		{{ 'news.empty'|lang }}<br />
	{% endfor %}

	{{ pager|raw }}

	{% if level(LEVEL_ADMIN) %}
		{{ make_link({'action': 'update'}, 'act.news_new'|lang) }}
	{% endif %}
{% endblock %}