{% extends layout %}

{% block page_content %}
	<div class="post">
		<div class="content">
			{% include "News/_news.html" with {'news': news} %}
		</div>
	</div>

	{{ partial('Comment/_index', {'news': news}, PARTIAL_CONTROLLER) }}
{% endblock %}