{{ make_form([
	['id', null, 'hidden', npc.id],
	['map', 'map.id'|lang~'<br/>'],
	['cell', 'map.cell'|lang~'<br/>'],
	['orientation', 'orientation'|lang~'<br/>', 'select', npc.table.orientations]
]) }}