<ul>
{% for map in npc.Maps %}
	<li>[{{ map.posX }}, {{ map.posY }}]
	{% if level(LEVEL_ADMIN) %}{{ make_link('@glossary.npcmap.delete', '[x]', {id: map, npc: npc}) }}{% endif %}</li>
{% endfor %}
</ul>
{% if level(LEVEL_ADMIN) %}
	{{ npc.addMapLink|raw }}
{% endif %}