{% extends layout %}

{% block content %}
	{% if npcs.count %}
		{{ make_form([
			['search', 'npc.search'|lang]
		], {'controller': 'GlossaryNpc', 'action': 'show'}) }}

		<ul>
			{% for npc in npcs %}
			<li>{{ make_link(npc) }}</li>
			{% endfor %}
		</ul>
		{{ pager|raw }}
	{% else %}
		{{ 'npcs.empty'|lang }}
	{% endif %}
{% endblock %}