{% extends layout %}

{% block content %}
	<h3>{{ npc.name }}</h3>
	<fieldset>
		<legend>{{ 'appearance'|lang }}</legend>
		<div align="left">
			<b>{{ 'acc.ladder.sex'|lang }}</b>: {{ [npc.sex, 'gender']|lang }}.<br />
			{#<b>{{ 'size'|lang }}</b>: {{  }}.<br />#}
			<b>{{ 'colors'|lang }}</b>: {{ npc.color1 }}, {{ npc.color2 }}, {{ npc.color3 }}.<br />
			{% if npc.stuffs %}
			<b>{{ 'inventorytype.0'|lang }}</b>:
			<ul>
			{% for stuff in npc.stuffs %}
				{% if stuff != 0 %}
					<li>&bull; {{ make_link('@glossary.item.show', [stuff, 'item']|lang, {id: stuff}) }}</li>
				{% endif %}
			{% endfor %}
			</ul>
			{% endif %}
		</div>
	</fieldset>

	{% if npc.sells %}
	<fieldset>
		<legend>{{ 'npc.sells'|lang }}</legend>
		<div align="left">
			{% if npc.sells %}
			<ul>
			{% for sell in npc.sells %}
				<li>&bull; {{ make_link(sell) }} ({{ sell.prix|number_format }}k)</li>
			{% endfor %}
			</ul>
			{% endif %}
		</div>
	</fieldset>
	{% endif %}

	{% if npc.Maps.count or level(LEVEL_ADMIN) %}
	<fieldset>
		<legend>{{ 'apparitions'|lang }}</legend>
		<div align="left">
			{% include 'GlossaryNpcMap/_index' with {npc: npc} %}
		</div>
	</fieldset>
	{% endif %}
{% endblock %}