html, body {
  background-color: #eee;
}
.topbar .pull-right {
  margin-right:5px;
}
.topbar .pull-right li a span{
  color:#0090ff;
  font-weight:bold;
}
.topbar .pull-right .nav .btn{
border: 0;
padding-top: 4px;
padding-bottom: 4px;
margin-top: 6px;
}
.topbar .btn {
  border: 0;
  padding-top:4px;
  padding-bottom: 7px;
}
.container > footer p {
  text-align: center;
  color:#0090ff;
}
.container > footer {
  border-top: 2px solid #d9d9d9;
}
.container {
  width: 1000px; 
}
header {
  height:195px;
}
header .logo a{
  width:290px;
  height:58px;
  display:block;
  background: url("layout/logo.png") no-repeat;
  position:absolute;
  margin:65px 0 0 40px;
}
header .logo a:hover{
  background: url("layout/logo.png") 0 58px;
}
.global {
  margin-top:87px;
  zoom: 1;
}
.global:before, .global:after {
  display: table;
  content: "";
  zoom: 1;
}
.global:after {
  clear: both;
}
.global > div {
  display: inline;
  float: left;  
}
.global > .content, .global > .right {
margin-top: -88px;
}

.content nav {
  width:684px;
  height:64px;
  padding:25px 0 0 15px;
}
.content .page_column {
  width:699px;
}
.content .page_column .box {
  margin-left:3px;
}
.content .page_column .box .box-inner{
  padding:20px;
}
.content .page_column .box .box-inner .by-line {
font-size: 12px;
margin: 3px 0 0 0;
}
.by-line a.comments-link {
line-height: 1.2em;
float: none;
display: inline;
padding-left: 17px;
margin-left: 8px;
background-image: url("icons/com.png");
}

.content .page_column .box .box-inner .article-left {
display: block;
float: left;
margin: 10px 0 0 0;
}
.content .page_column .box .box-inner .article-left  span.media-box {
  margin:0;
}
.content .page_column .box .box-inner .article-right {
width: 490px;
float: left;
padding: 7px 0 0 14px;
position: relative;
}
.content .page_column .box .box-inner .article-summary {
line-height: 1.8em;
width: 490px;
}
.content .page_column .box .box-inner .article-summary .btn {
  float:right;
  margin-left:5px;
}
.content .pagination {
  max-width:650px;
  margin:auto;
  margin-top: 20px;
}
.clear {
clear: both;
display: block;
margin: 0;
padding: 0;
}

.comments-container .comment {
font-size: 11px;
line-height: 24px;
margin-bottom: 12px;
position: relative;
-moz-border-radius: 5px;
border-radius: 5px;
}
.comments-container .comment:last-child{
margin-bottom: 0px;  
}
.comments-container .avatar-comment {
top: 15px;
left: -10px;
position: absolute;
background: no-repeat;
}
.comments-container .avatar-comment {
display: block;
float: left;
}
.comments-container .comment .admin-actions {
position: absolute;
top: 1px;
right: 5px;
white-space: nowrap;
padding: 8px 0;
}
.comments-container .comment .admin-actions .close {
margin-top: -5px;
}
.comments-container .comment .comment-interior {
padding: 15px 15px 15px 95px;
}
.comments-container .comment .user {
font: 12px Arial, Helvetica;
line-height: 15px;
font-weight: bold;
}
.comments-container .comment .user .user-name {
display: inline;
position: relative;
}
.comments-container .comment .user .time a {
font-size: 11px;
margin-left: 13px;
}
.comments-container .comment .content {
padding-top: 8px;
word-wrap: break-word;
}
.comments-container .comment .comment-actions {
padding-top: 5px;
text-align: right;
}
.comments-container .alert-message{
  margin-top:20px;
}
.right .join a{
  margin-top:1px;
  width:299px;
  height:87px;
  display:block;
}
.right .shop a{
  margin-top:1px;
  width:299px;
  height:87px;
  display:block;
}
.right .right_column {
  width:295px;
  padding-right:4px;
  float:right;
}
.page_column, .right_column {
  min-height:1240px;
}
.right-title {
  margin-left:1px;
  margin-bottom: 4px;
  border-bottom: 2px solid #dfdfdf;
  padding-bottom: 4px;
  padding-top:6px;
  padding-left:15px;
}
.right-title h3 {
  color: #3570dc;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  line-height:20px;
  padding-right: 20px;
  background: url("icons/title-arrow.png") 95% 50% no-repeat;
}
.right-box {
  padding:0 0 10px 20px;
}
.right-box ul, .right-box ol {
  margin: 0 0 0 15px;
}
.serv-box li{
  height: 18px;
}
.serv-box li p{
  font-weight:bold;
}
.serv-box li span{
  float:right;
  margin:-27px 20px;
}
.serv-box li span.label{
  color:#fff;
}
.bar-cont {
  width:200px;
  height:25px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid #ccc; 
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-radius:5px;
  text-align:center;
  margin:auto;
}
.bar-cont span{
  height:21px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-radius:5px;
  display:block;
  position:absolute;
  margin:2px 0 0 2px;
  z-index:0;
}
.bar-cont p{
  font-weight:bold;
  position:relative;
  z-index:1;
  line-height:23px;
  font-size:19px;
  vertical-align:middle;
}
.vote, .offi {
margin: 0 auto;
margin-top:10px;
display: block;
width: 240px;
height: 130px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
-moz-box-shadow: 0 0 5px #000 inset;
-webkit-box-shadow: 0 0 5px #000 inset;
box-shadow: 0 0 5px #000 inset;
}
.vote:hover, .offi:hover { 
  background-position: 0 -130px; 
}
.global_bot {
  width:998px;
  height:41px;
}
nav .nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin-left:3px;
}
nav .nav li {
  padding:0 9px 10px 9px;
}
nav .nav li a {
  font-size:15px;
  padding:10px 28px 10px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  font-weight:bold;
}
nav .nav a:hover, nav .nav a.active{
  background-position: 0 -50px;
}
nav .nav a:active{
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);  
}
.well > .back {
  margin-bottom:10px;
}
blockquote p{
  font-style:italic;
  font-size:13px;
}
blockquote small {
  color: #fff;
}
.well .clearfix .input{
  margin-left:200px;
}
.well .clearfix .input input[type="submit"]{
  margin-left:65px;
}
.input select.medium:first-child {
margin-left: -40px;
}
.input select {
  width: 220px;
}
.pictoAlign {
  width:40px;
  height:40px;
  border:2px solid #c7c7c7;
  margin-left:13px;
}
.pictoClass {
  width:40px;
  height:40px;
  border:2px solid #c7c7c7;
}

.tab-content.shop .tab-pane table tbody tr.name td{
  background-color:#c7c7c7;
  color:#fff;
  font-weight:bold;
  text-shadow:1px 1px 0.5px #000;
  font-size:20px;
}
.tab-content.shop .tab-pane table tbody tr.carac {
  border-bottom:2px dashed #DDD;
}
.tab-content.shop .tab-pane table tbody tr td {
  border:1px solid #DDD;
  border-bottom:0px;
}
.tab-content.shop .tab-pane table tbody tr td:first-child {
  border-left:2px dashed #DDD;
  border-bottom:0px;
}
.tab-content.shop .tab-pane table tbody tr td:last-child {
  border-right:2px dashed #DDD;
  border-bottom:0px;
}

/*/BBCODE /*/
p.bbcode{margin-left:140px;}
p.bbcode2{margin-left:110px;}
p.pseajtcom{margin-left:175px;}
p.yourmess{margin-left:17px;}
label.code{margin-left:50px;}
#easyTooltip{margin:0 10px 1em 0;width:220px;padding:8px;background:#f0e9cd;border:5px solid #dcd7c8;line-height:130%;}
#easyTooltip h3{margin:0 0 .5em 0;font:13px Arial, Helvetica, sans-serif;text-transform:uppercase;font-weight:bold;}  
#easyTooltip p{margin:0 0 .5em 0;}  
.spoiler{padding:3px;border:1px solid #afb4d7;background-color:white;margin:0px 15px;max-height:400px;overflow:auto;color:black;}
.spoilertexte{font-weight:bold; font-size:10px;}
.quote{padding:5px;border:1px solid #653533;margin: 5px 5px; overflow: auto;background-color:#fafafa;}
.tooltip{position: absolute;display: none;background-color: #FCFCFC;color: #000000;border: 1px solid #DDDDDD;border-left: 4px solid #ebb40b;padding: 4px 10px;z-index: 300;width: 200px;}


/*////////////////////////////////////////Armurerie /////////////////////////////////////////*/
#anneauD,#anneauG,#dofus1,#dofus2,#dofus3,#dofus4,#dofus5,#dofus6,#cape,#coiffe,#botte,#ceinture,#familie,#cac,#dinde,#amulette,#bouclier{display:none;} 

#fondARM{background:url("layout/bgarmurerie.png") no-repeat;width:289px;height:291px;margin-left:68px;margin:auto;border:3px solid #708090;border-radius:5px;}
.classe_armu{
  height:150px;
  margin:50px 0 0 268px;
  position:absolute;
}
#fondARM.flash a.dofus1LINK{position:absolute;margin:245px 0 0 1px;}
#fondARM.flash a.dofus2LINK{position:absolute;margin:245px 0 0 51px;}
#fondARM.flash a.dofus3LINK{position:absolute;margin:245px 0 0 101px;}
#fondARM.flash a.dofus4LINK{position:absolute;margin:245px 0 0 151px;}
#fondARM.flash a.dofus5LINK{position:absolute;margin:245px 0 0 201px;}
#fondARM.flash a.dofus6LINK{position:absolute;margin:245px 0 0 250px;}

#fondARM.flash a.bouclierLINK{position:absolute;margin:-6px 0 0 3px;}
#fondARM.flash a.amuletteLINK{position:absolute;margin:45px 0 0 3px;}
#fondARM.flash a.cacLINK{position:absolute;margin:-6px 0 0 250px;}
#fondARM.flash a.coiffeLINK{position:absolute;margin:45px 0 0 250px;}
#fondARM.flash a.anneauGLINK{position:absolute;margin:95px 0 0 3px;}
#fondARM.flash a.ceintureLINK{position:absolute;margin:145px 0 0 250px;}
#fondARM.flash a.anneauDLINK{position:absolute;margin:95px 0 0 250px;}
#fondARM.flash a.capeLINK{position:absolute;margin:145px 0 0 3px;}
#fondARM.flash a.botteLINK{position:absolute;margin:195px 0 0 3px;}
#fondARM.flash a.familieLINK{position:absolute;margin:195px 0 0 250px;}

#fondARM.png a.dofus1LINK{position:absolute;margin:248px 0 0 -5px;}
#fondARM.png a.dofus2LINK{position:absolute;margin:248px 0 0 45px;}
#fondARM.png a.dofus3LINK{position:absolute;margin:248px 0 0 95px;}
#fondARM.png a.dofus4LINK{position:absolute;margin:248px 0 0 145px;}
#fondARM.png a.dofus5LINK{position:absolute;margin:248px 0 0 195px;}
#fondARM.png a.dofus6LINK{position:absolute;margin:248px 0 0 245px;}

#fondARM.png a.bouclierLINK{position:absolute;margin:-1px 0 0 -2px;}
#fondARM.png a.amuletteLINK{position:absolute;margin:50px 0 0 -2px;}
#fondARM.png a.cacLINK{position:absolute;margin:-1px 0 0 245px;}
#fondARM.png a.coiffeLINK{position:absolute;margin:50px 0 0 245px;}
#fondARM.png a.anneauGLINK{position:absolute;margin:100px 0 0 -2px;}
#fondARM.png a.ceintureLINK{position:absolute;margin:150px 0 0 245px;}
#fondARM.png a.anneauDLINK{position:absolute;margin:100px 0 0 245px;}
#fondARM.png a.capeLINK{position:absolute;margin:150px 0 0 -2px;}
#fondARM.png a.botteLINK{position:absolute;margin:200px 0 0 -2px;}
#fondARM.png a.familieLINK{position:absolute;margin:200px 0 0 245px;}

.inventaire{
  background-color:#c7c7c7;
  border-radius:5px;
  border:2px solid #9b9b9b;
  width:584px;
  margin:auto;
  margin-bottom:10px;  
}
.inventaire .inv-cadri{
  background: url("layout/bginv.png") repeat-y;
  width:590px;
}

.skill{
  background-color:#c7c7c7;
  border-radius:5px;
  border:2px solid #9b9b9b;
  width:581px;
  margin:auto;
  margin-bottom:10px;
}
.skill .skill-cadri{
  padding-top:4px;
  background: url("layout/bgskill.png") repeat-y;
  width:581px;
}

.points_bar {
width: 300px;
height: 21px;
background: url("layout/empty_bar.jpg") no-repeat top left;
position: relative;
margin:auto;
margin-bottom: 10px;
}

.points_bar_color_blue {
background: url("layout/blue_bar.jpg") no-repeat top left;
height: 20px;
}

.points_bar_color_red {
background: url("layout/red_bar.jpg") no-repeat top left;
height: 20px;
}
.points_bar_color_green {
background: url("layout/green_bar.jpg") no-repeat top left;
height: 20px;
}
.points_bar_text {
bottom: 29px;
color: white;
float: left;
font-weight: bold;
position: relative;
padding-left: 5px;
top: -21px;
width: 300px;
}

.divstats{
  background-color: #C7C7C7;
  font-weight: bold;
  text-shadow: 1px 1px 1px white;
}

.picto_carac{
  background:url("pictos/picto_stats_principales.png") no-repeat;
  display:block;
  float:left;
  height:23px;
  margin:-5px 10px 0 -5px;
  width:19px
}
.picto_carac.vitalite{background-position:-204px 0}
.picto_carac.sagesse{background-position:-187px 0}
.picto_carac.force{background-position:-169px 0}
.picto_carac.intelligence{background-position:-150px 0}
.picto_carac.chance{background-position:-131px 0}
.picto_carac.agilite{background-position:-112px 0}
.picto_carac.pa{background-position:-92px 0}
.picto_carac.pm{background-position:-74px 0}
.picto_carac.initiative{background-position:-56px 0}
.picto_carac.prospection{background-position:-37px 0}
.picto_carac.portee{background-position:-18px 0}
.picto_carac.invocation{background-position:0 0}

.box-inner.news h3 a{
  color:white;
}
.box-inner.news h3 span{
  margin-right:10px;
  color:white;
}
.box-inner.news h3{
border-top-left-radius: 5px;
border-top-right-radius: 5px;
text-indent: 10px; 
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05); 
}
.box-inner.news .event{
background-color: #339BB9;
background-repeat: repeat-x;
background-image: -khtml-gradient(linear, left top, left bottom, from(#5bc0de), to(#339bb9));
background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
background-image: -ms-linear-gradient(top, #5bc0de, #339bb9);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5bc0de), color-stop(100%, #339bb9));
background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
background-image: linear-gradient(top, #5bc0de, #339bb9);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5bc0de', endColorstr='#339bb9', GradientType=0);
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
border-color: #339BB9 #339BB9 #22697D;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);  
}
.box-inner.news .news{
  background-color: #0064cd;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
  background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
  background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
  background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
  background-image: -o-linear-gradient(top, #049cdb, #0064cd);
  background-image: linear-gradient(top, #049cdb, #0064cd);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #0064cd #0064cd #003f81;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);    
}

.box-inner.news .promo{
background: #cb60b3; /* Old browsers */
background: -moz-linear-gradient(top, #cb60b3 0%, #ad1283 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cb60b3), color-stop(99%,#ad1283)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #cb60b3 0%,#ad1283 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #cb60b3 0%,#ad1283 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #cb60b3 0%,#ad1283 99%); /* IE10+ */
background: linear-gradient(top, #cb60b3 0%,#ad1283 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#ad1283',GradientType=0 ); /* IE6-9 */
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
border-color: #ad1283 #ad1283 #3D773D;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); 
}

.box-inner.news .rappel{
  background-color: #c43c35;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#ee5f5b), to(#c43c35));
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -ms-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ee5f5b), color-stop(100%, #c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(top, #ee5f5b, #c43c35);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ee5f5b', endColorstr='#c43c35', GradientType=0);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: #c43c35 #c43c35 #882a25;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);  
}

.box-inner.news .maint{
background: #ffa84c; /* Old browsers */
background: -moz-linear-gradient(top, #ffa84c 0%, #ff7b0d 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa84c), color-stop(100%,#ff7b0d)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffa84c 0%,#ff7b0d 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffa84c 0%,#ff7b0d 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffa84c 0%,#ff7b0d 100%); /* IE10+ */
background: linear-gradient(top, #ffa84c 0%,#ff7b0d 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
border-color: #ff7b0d #ff7b0d #3D773D;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);  
}

.box-inner.news .maj{
background-color: #57A957;
background-repeat: repeat-x;
background-image: -khtml-gradient(linear, left top, left bottom, from(#62c462), to(#57a957));
background-image: -moz-linear-gradient(top, #62c462, #57a957);
background-image: -ms-linear-gradient(top, #62c462, #57a957);
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #62c462), color-stop(100%, #57a957));
background-image: -webkit-linear-gradient(top, #62c462, #57a957);
background-image: -o-linear-gradient(top, #62c462, #57a957);
background-image: linear-gradient(top, #62c462, #57a957);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#62c462', endColorstr='#57a957', GradientType=0);
text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
border-color: #57A957 #57A957 #3D773D;
border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.screen.unstyled{
  margin:auto;
}
.screen.unstyled li{
  display:inline;
  margin:4px;
}
.screen.unstyled li a img{
  border:2px solid #d5d5d5;
  border-radius:5px;
}

form.formu {
  margin-top: 20px;
  background-color: aliceBlue;
  border-radius: 5px;
  padding-top: 20px;
  padding-bottom: 1px;
  border: 5px solid white;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);    
}
.well .sond{
background: #C7C7C7;
padding: 10px;
box-shadow: 0px 1px 1px gray;
color: white;
text-shadow: 1px 1px 1px gray;
font-weight: bold;
font-size: 18px;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px; 
}

.well .ans_sond{
  margin-top: 10px;
padding: 10px;
background: #D7D7D7;
border-radius: 4px;
border: 1px solid gray;
}
.well .ans_sond h3{
  color:gray;
}
.well .ans_sond ul{
list-style:none;
margin:0;  
}
.well .ans_sond ul li{
  padding:5px;
}
ul.service{
  margin:0;
  margin-left:10px;
}
.service li{
  list-style:none;
  display:inline-block;
}

.service li a.serv{
  width:194px;
  height:145px;
  display:block;
}

.service li a.serv.name{
  background: url("layout/name.png") no-repeat;
}
.service li a.serv.name:hover{
  background: url("layout/name.png") 0 145px;
}
.service li a.serv.sex{
  background: url("layout/sexe.png") no-repeat;
}
.service li a.serv.sex:hover{
  background: url("layout/sexe.png") 0 145px;
}
.service li a.serv.color{
  background: url("layout/color.png") no-repeat;
}
.service li a.serv.color:hover{
  background: url("layout/color.png") 0 145px;
}

.box h4{background:#C7C7C7;padding:5px;margin:-10px -10px 0 -10px;border-bottom:1px solid gray;color:white;text-shadow:1px 1px 1px gray;margin-bottom:20px;}
.box h4 span{float:right;margin-top:-18px;}
#easyTooltip h4{margin:0 0 .5em 0;font:13px Arial,Helvetica,sans-serif;text-transform:uppercase;font-weight:bold;}
#content .ans_sond h4{color:gray;}
#right .ans_sond h4{color:white;}
table .purple{color:#7a43b6;border-bottom-color:#7a43b6;}
table .headerSortUp.purple,table .headerSortDown.purple{background-color:#e2d5f0;}

a img{border:none;}

.palier{
  margin-bottom:0px;
  width:620px;
}
.palier li, .palier li a{
  display:inline;
  width:204px;
  height:124px;
}
.palier li a{
  display:inline-block;
  text-decoration: none;
}
.palier .palier{
  background: url("layout/palier-box.png") no-repeat;
}
.palier .palier:hover{
  background: url("layout/palier-box.png") 0 124px;
}
span.nbcode{
 position: absolute;
margin: 5px 0 0 70px;
font-size: 16px;
color: gray;
font-weight: bold; 
}
span.pt{
position: absolute;
margin: 36px 0 0 110px;
font-size: 18px;  
}
span.bontelsms{
  position: absolute;
margin: 101px 0 0 45px;
color: white;
font-weight: bold;
}
span.bonpaycard{
margin: 101px 45px 0 0;
color: white;
font-weight: bold;
float: right;  
}

.pays_flags{
 text-align:center; 
}
.pays_flags li {
display: inline;
padding: 5px;
background: #D5D5D5;
border-radius: 4px;
line-height: 30px;
text-align:center;
}
.pays_flags li:hover{
  background: #d7d7d7;
}
.pays_flags li a{
  text-align:center;
}
#sample span.value{
  display:none;
}