/*
 * This file contains all the CSS rules exported from random crap around the theme
 */

.comments-container
	.comment
		min-height: 140px
		background-color: white
		border: 2px solid gray
		box-shadow: 0px 2px 1px #c7c7c7

	.comment-interior
		&.unmargin
			margin-left: 5px
			padding-left: 5px
		&:not(.unmargin)
			margin-left: 35px

	h1, h2, h3, h4, h5, h6
		color: black

.thumbnail
	width: 100px
	height: 100px

span.media-box
	background-color: #bdbdbd

.user-name a.psecom
	margin-right: 10px
