/*
 * this files contains css I had to add
 */

//ladder
table#Character
	tbody
		tr:nth-child(odd), tr:hover
			background-color: #f5f5f5

	// let's change header colors
	thead th
		rows = character  acc-ladder-guild acc-ladder-class level
		rcolors = #ffc40d #7a43b6          #049cdb          #46a546
		//       yellow   purple           blue             green
		for row, i in rows
			&.{row}
				color: rcolors[i]

	.acc-ladder-pos
		width: 55px