label
	float: none !important

.dataTables_wrapper
	// avoid newline before
	#accounts_length
		display: inline

	#accounts_filter
		display: inline

		&:before
			content: '. '

h2
	color: #959595

.right_column
	h5
		color: #959595
		margin-left: 5px
		font-size: 1.5em

ul.dropdown-menu
	display: none
	position: absolute
	margin-top: -7px
	border-top-right-radius: 5px
	min-width: auto

	// made the rule as specific as possible to take prec...
	&.children-cats li a
		color: #004276

	&:hover
		display: block