body {
  margin-top: 40px; /* 40px etre en dessous de la topbar */
  background: url("bg/bg2012.jpg") no-repeat scroll 50% 0 #1b0506;
  /* background: url("bg/nowel2011.jpg") no-repeat scroll 50% 0 #11314A; */
}
h3 {
 color:#959595;
}
.global {
  background: url("bg_global.png") repeat-y;	
}
.content nav {
  background: url("bg_nav.png") no-repeat;
}
.content .page_column {
  background: url("bg_content.png") repeat-y;
}
.content .page_column .box {
  background: url("bg_box.png") 50% 0 no-repeat;
}
.content .page_column .box .box-inner{
  background: url("bg_box_bot.png") 50% 100% no-repeat;
}

.comments-container .comment {
background-color: antiqueWhite;
}
.comments-container .comment .user .time a {
color: #824F30;
}
.comments-container .avatar-comment a:hover { 
  border-color:#199df7; 
}

.right .join a{
  background: url("join.png") no-repeat;
}
.right .join a:hover{
  background: url("join.png") 0 87px;
}
.right .shop a{
  background: url("shop.png") no-repeat;
}
.right .shop a:hover{
  background: url("shop.png") 0 87px;
}
.right .right_column {
  background: url("bg_right.png") repeat-y;
}
.right-box {
  border-bottom:2px dashed #d7d7d7;
}
.right-box h5 {
  color: #7d7d7d; 
}
.serv-box li p{
  color:#0069D6;
}
.serv-box li span{
  color:#7d7d7d;
}
.serv-box li span b{
  font-weight:normal;
  color:#7d7d7d;
}
.bar-cont {
  background: #d1d1d1; /* Old browsers */
  background: -moz-linear-gradient(top, #d1d1d1 1%, #bababa 50%, #aaaaaa 51%, #b7b7b7 100%, #898989 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#d1d1d1), color-stop(50%,#bababa), color-stop(51%,#aaaaaa), color-stop(100%,#b7b7b7), color-stop(100%,#898989)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d1d1d1 1%,#bababa 50%,#aaaaaa 51%,#b7b7b7 100%,#898989 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d1d1d1 1%,#bababa 50%,#aaaaaa 51%,#b7b7b7 100%,#898989 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d1d1d1 1%,#bababa 50%,#aaaaaa 51%,#b7b7b7 100%,#898989 100%); /* IE10+ */
  background: linear-gradient(top, #d1d1d1 1%,#bababa 50%,#aaaaaa 51%,#b7b7b7 100%,#898989 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d1d1', endColorstr='#898989',GradientType=0 ); /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  border: 1px solid #ccc; 
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.bar-cont span{
  background-color: #0064cd;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
  background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
  background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
  background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
  background-image: -o-linear-gradient(top, #049cdb, #0064cd);
  background-image: linear-gradient(top, #049cdb, #0064cd);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
}
.bar-cont p{
  color:#213553;
}
.vote {
border: 1px solid #ccc;
background: url("vote-not.png") 0 0 no-repeat;
}
.vote:hover { 
  border-color: #199df7; 
}
.offi {
border: 1px solid #ccc;
background: url("offi-not.png") 0 0 no-repeat;
}
.offi:hover { 
  border-color: #199df7; 
}
.global_bot {
  background: url("global_bot.png") no-repeat;
}
nav .nav li a {
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #0064cd;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#049cdb), to(#0064cd));
  background-image: -moz-linear-gradient(top, #049cdb, #0064cd);
  background-image: -ms-linear-gradient(top, #049cdb, #0064cd);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #049cdb), color-stop(100%, #0064cd));
  background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
  background-image: -o-linear-gradient(top, #049cdb, #0064cd);
  background-image: linear-gradient(top, #049cdb, #0064cd);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#049cdb', endColorstr='#0064cd', GradientType=0);
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  border-radius:15px; 
  color: #fff;
}
nav .nav a:hover, nav .nav a.active{
  border: 1px solid #2694f1;
  border-color: rgba(21, 145, 250, 0.1) rgba(21, 145, 250, 0.1) rgba(0, 0, 0, 0.25);
}
.footer_copy {
text-align: center;
color: white;
line-height: 15px;
}

.footer_copy .generate {
background: white;
padding: 3px 7px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
opacity: 0.5;
color: black;
text-align: center;
}
a.link_acc {
color: white;
font-size: 17px;
}