<div id="menus">
	<div data-base-class="module4" class="module4" id="part-server">
		<div class="title" style="margin-left: 5px;">{{ 'part.server'|lang }}</div>
		<ul>
			{% partial 'application/menu/home' %}
		</ul>
	</div>
	<div data-base-class="module4" class="module4" id="part-interactive">
		<div class="title" style="margin-left: 5px;">{{ 'part.interactif'|lang }}</div>
		<ul>
			{% partial 'application/menu/interactive' %}
		</ul>
	</div>
	<div data-base-class="module4" class="module4" id="part-glossary">
		<div class="title" style="margin-left: 5px;">{{ 'part.glossary'|lang }}</div>
		<ul>
			{% partial 'application/menu/glossary' %}
		</ul>
	</div>
	<div data-base-class="module4" class="module4" id="part-community">
		<div class="title">{{ 'part.community'|lang }}</div>
		<ul>
			{% partial 'application/menu/community' %}
		</ul>
	</div>
	{% if level(LEVEL_ADMIN) %}
	<div data-base-class="module4" class="module4" id="part-admin">
		<div class="title">{{ 'part.admin'|lang }}</div>
		<ul>
			{% partial 'application/menu/admin' %}
		</ul>
	</div>
	{% endif %}
</div>