<div class="module{% if level(LEVEL_LOGGED) %}2{% else %}1{% endif %}">
	{% partial('application/block/user') %}
</div>

{% if level(LEVEL_LOGGED) and account.mainChar %}
<br /><div class="module2 mainChar">
	{% partial('application/block/mainChar') %}
</div>
{% endif %}

<div id="serv-info" style="	background:url({{ asset_path('status' ~ server_state() ~ EXT_JPG, ASSET_IMAGE) }}) no-repeat;">
<!-- servInfo module -->
</div>

{% if config.ENABLE_VOTE %}
<div style="margin-left: 20px; margin-top: 5px; margin-bottom: -25px;">
{{ make_link('@vote', make_img('votez', EXT_JPG), [], [], false) }}
</div>
{% endif %}

{% if config.STATS and not defined('SKIP_STATS')
 or (defined('SKIP_STATS') and not SKIP_STATS) %}
<br /><br />
<div class="module4">
	<div class="title slideMenu" style="margin-left: 20px;">{{ 'part.count'|lang }}</div>
	{% partial('application/block/stats') %}
</div>
{% endif %}

<div class="module4 show-this">
	<div class="title slideMenu" style="margin-left: 20px; margin-top: -45px;">{{ 'part.search'|lang }}</div>
	<form method="POST" action="#" id="search">
		<input type="text" id="search-term" autocomplete="off" class="text_search" />
	</form>
</div>