{% macro element_image(elem) %}
	{{ make_img('elements/' ~ elem, EXT_PNG, {'style': 'width: 25px; height: 25px;'}) }}
{% endmacro %}

{{ _self.element_image('wis') }}{{ stats.1 }}&nbsp;
{{ _self.element_image('str') }}{{ stats.0 }}&nbsp;
{{ _self.element_image('int') }}{{ stats.2 }}&nbsp;
{{ _self.element_image('agi') }}{{ stats.3 }}&nbsp;
{{ _self.element_image('cha') }}{{ stats.4 }}&nbsp;
<br/>