{% extends layout %}

{% block content %}
<!-- sadly, there's no way to put "overflow: auto;" on a tbody -_- screw that
Note that creating a 2nd table sure isn't the best way, but I'm too lazy to change it :< -->
<table style="height: 50px; width: 100%;">
	<!--<thead >-->
		<tr>
			<th style="width: 25%;" align="center" valign="middle">{{ 'level'|lang }}</th>
			<th style="width: 18.75%;">{{ 'character'|lang }}</th>
			<th style="width: 18.75%;" style="width: 18.75%;">{{ 'character.job'|lang|title }}</th>
			<th style="width: 18.75%;">{{ 'mount'|lang }}</th>
			<th style="width: 18.75%;">{{ 'pvp'|lang }}</th>
		</tr>
	<!--</thead>-->
</table>
<div style="height: 500px; overflow: auto; width: 100%;">
	<table border="1" style="width: 100%;">
		{% for floor in floors %}
		<tr>
			<td style="width: 25%;" align="center" valign="middle"><b>{{ floor.lvl }}</b></td>
			<td style="width: 18.75%;">{{ floor.perso|number_format }}</td>
			<td style="width: 18.75%;">{{ floor.metier == -1 ? "" : floor.metier|number_format }}</td>
			<td style="width: 18.75%;">{{ floor.dinde == -1 ? "" : floor.dinde|number_format }}</td>
			<td style="width: 18.75%;">{{ floor.pvp == -1 ? "" : floor.pvp|number_format }}</td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}