<center><br />
<script type="text/javascript"><!--
google_ad_client = "ca-pub-0526897848170314";
/* Web right */
google_ad_slot = "1719392049";
google_ad_width = 250;
google_ad_height = 250;
//-->
</script>
<script type="text/javascript"
src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script><br />
<br /> </center>