@charset "utf8";

/** Added by Vendethiel
 * Also, I refactored the hell out of THIS FUCKING CRAP
 */
.account-link a {
    color: white !important;
}
/* this sucks */

body {
    margin:auto;
    padding:0 0 0 0;
    background:url('bg.png') repeat;
    width:100%;
    font-family:Verdana;
}

img,a {
    border:0!important;
    text-decoration:none;
}

.cader_red {
    width: 90%;
    margin: auto;
    padding: 5px;
    background: #ffdbdb;
    border: 1px solid #ff0000;
    color: #ff0000;
    text-align: center;
}

.cader_green {
    width: 90%;
    margin: auto;
    padding: 5px;
    background: #dff3dc;
    border: 1px solid #18b300;
    color: #18b300;
    text-align: center;
}

.cader_blue {
    width: 90%;
    margin: auto;
    padding: 5px;
    background: #d6dfff;
    border: 1px solid #6384ff;
    color: #6384ff;
    text-align: center;
}

.bb {
    width:587px;
    height:30px;
    background-color: #b4ac8d;
}

.bb:hover {
    width:587px;
    height:30px;
    background-color: #93866c;
}

.bb2 {
    width:587px;
    height:30px;
    background-color: #c9bf9d;
}

.bb2:hover {
    width:587px;
    height:30px;
    background-color: #93866c;
}

.icon_emots {
    width: 16px;
    height: 16px;
    vertical-align: -25%;
}

.blue  {
    color: #0000FF;
}

.white  {
    color: #FFFFFF;
}

.red  {
    color: #ff2526;
}

.green  {
    color: #52ff23;
}

.icon_text {
    width: 16px;
    height: 16px;
    vertical-align: -25%;
}

.devtool {
    width:16px;
    height:16px;
    vertical-align:-25%;
}

iframe {
    border:0;
    overflow:hidden;
}

input,textarea,table,select,option {
    background:#fff5dc;
    border:1px solid #bfb59d;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    color:#bfb59d;
    font-size:12px;
    padding:5px;
}

td {
    padding:5px;
}

.right {
    text-align:right;
}

input {
    color:#bfb59d;
    font-size:12px;
    background:#fffaec;
    width:150px;
}

input.submit {
    width:126px;
    height:38px;
    background:url('buttonSubmit.png') no-repeat;
    border:0;
    color:#f5e0a6;
    font-size:15px;
}

input.submit:hover {
    background-position:-126px 0px;
    cursor:pointer;
}

.error {
    color:#e36154;
    margin-left:5px;
    font-size:10px;
}

textarea {
    width:250px;
    height:100px;
    background:#fffaec;
}

#mainDiv {
    width:1030px;
    margin:auto;
}

#barreTop {
    position:fixed!important;
    z-index:99999999999!important;
    width:100%;
    height:32px;
    top:0;
    left:0;
    font-size:11px;
    color:#aaaaaa;
    line-height:32px;
}

#barreTop p.right {
    float:right;
    margin:0px 8px 0px 0px;
}

#barreTop p.left {
    margin:0px 0px 0px 8px;
}

#barreTop a {
    color:#ffa200;
}

#barreTop a:hover {
    color:#ffb62a;
}

#barreTop #boxA {
    width:16px;
    height:16px;
    margin:-25px 0px 0px 93px;
}

#barreTop #boxTop {
    width:535px;
    height:304px;
    background:url('boxTop.png');
    position:absolute;
    z-index:9999999999999999;
    margin:-8px 0px 0px -98px;
    display:none;
    color:#eae2ca;
    font-size:14px;
}

#barreTop #boxTop span {
    position:absolute;
}

#barreTop .boxA:hover {
    cursor:pointer;
}

#barreTop #boxA:hover #boxTop {
    display:block;
}

#barreTop #boxTop:hover {
    display:block;
}

#barreTop #panel {
    position:absolute;
    z-index:9999999999999999;
    margin:-23px 0px 0px 115px;
}

#barreTop #boxTop .item {
    width:362px;
    height:212px;
    color:#2f2724;
    font-size:12px;
    position:absolute;
    z-index:99999999999;
    margin:70px 0px 0px 162px;
}

#barreTop #boxTop h1 {
    font-weight:normal;
    color:#ce6600;
    padding:0 0 0 0;
    margin:0 0 0 0;
    font-size:14px;
}

#barreTop #boxTop p.error-message {
    width:90%;
    margin:auto;
    color:#e36154;
    border:1px dotted #e36154;
    background:#fec9b7;
    padding:7px;
}

#barreTop #boxTop p.clean-message {
    width:90%;
    margin:auto;
    color:#1e731a;
    border:1px dotted #1e731a;
    background:#aedca5;
    padding:7px;
}

#barreTop #boxTop p.infos-message {
    width:90%;
    margin:auto;
    color:#628cba;
    border:1px dotted #628cba;
    background:#b0c9e4;
    padding:7px;
}

#header {
    width:100%;
    height:313px;
    background:url('header.png') center top no-repeat;
    margin:0px 0px -25px 0px;
}

#top {
    width:1030px;
    height:56px;
    background:url('top.png') no-repeat;
}

#top #button_play {
    position:absolute;
    z-index:100;
    display:inline-block;
    margin:-50px 0px 0px 755px;
    width:279px;
    height:138px;
    background:url('button_play.png') no-repeat;
}

#top #button_play:hover {
    background:url('button_play.png') -0px -138px no-repeat;
}

#top .info_1,#top .info_2,#top .info_3 {
    position:absolute;
    font-size:15px;
    color:#999586;
    margin-top:19px;
}

#top .info_1 {
    margin-left:180px;
}

#top .info_2 {
    margin-left:395px;
}

#top .info_3 {
    margin-left:590px;
}

#menu {
    width:175px;
    background:url('midMenu.png') repeat-y;
    float:left;
    margin:0px 0px 10px 5px;
}

#menu #content {
    width:143px;
    margin:auto;
    margin-top:-40px;
}

#menu #content #button1,#menu #button2,#menu #button3 {
    display:inline-block;
    background:url('buttonMenu.png') no-repeat;
}

#menu #content #button1 {
    width:143px;
    height:57px;
}

#menu #content #button1:hover {
    background-position:-0px -58px;
}

#menu #content #button2 {
    width:143px;
    height:57px;
    background-position:-143px -0px;
}

#menu #content #button2:hover {
    background-position:-143px -58px;
}

#menu #content #button3 {
    width:143px;
    height:57px;
    background-position:-286px -0px;
}

#menu #content #button3:hover {
    background-position:-286px -58px;
}

#menu #content ul {
    width:143px;
    padding:0 0 0 0;
    margin:8px 0px 8px 0px;
    background:url('midUL.png') repeat-y;
}

#menu #content ul li {
    list-style:none;
    color:#999586;
    font-size:14px;
    margin-left:8px;
    padding:1px;
}

#menu #content ul li a {
    color:#999586;
    font-size:14px;
    text-decoration:none;
}

#menu #content ul li a:hover {
    color:#ded5be;
}

#right {
    width:211px;
    float:right;
    margin:5px 5px 0px 0px;
}

#right #member {
    width:211px;
    height:253px;
}

#right #space {
    position:absolute;
    z-index:150;
    width:211px;
    height:253px;
    background:url('spacemember.png') no-repeat;
}

#right #space a {
    text-decoration:none;
    color:#1080b4;
}

#right #space a:hover {
    color:#0caaf3;
}

#right #space #connexion {
    position:absolute;
    z-index:150;
    width:197px;
    height:168px;
    background:url('spacememberConnexion.png') no-repeat;
    margin:60px 0px 0px 10px;
}

#right #space #connexion .input {
    width:160px;
    height:25px;
    font-size:11px;
    color:#0094d7;
    border:0;
    background:transparent;
    position:absolute;
}

#right #space #connexion .inputConnexion {
    width:120px;
    height:35px;
    font-size:11px;
    color:#0094d7;
    border:0;
    background:transparent;
    position:absolute;
}

#right #space #connexion .inputConnexion:hover {
    background:url('inputConnexion.png') no-repeat;
    cursor:pointer;
}

#right #space #connexion .lien {
    position:relative;
    margin:132px 0px 0px 7px;
}

#right #space #module {
    position:absolute;
    z-index:150;
    width:197px;
    height:168px;
    background:url('spacememberModule.png') no-repeat;
    margin:60px 0px 0px 8px;
    color:#1080b4;
    font-size:12px;
}

#right #boutique {
    width:206px;
    height:106px;
    background:url('rightBoutique.png') no-repeat;
    margin:0px 0px 10px 3px;
}

#right #boutique a.boutique {
    width:101px;
    height:35px;
    display:inline-block;
    position:absolute;
    margin:67px 0px 0px 91px;
}

#right #boutique a.boutique:hover {
    background:url('hRightBoutique.png') no-repeat;
}

#right #boutique p {
    padding:0 0 0 0;
    width:110px;
    height:33px;
    display:inline-block;
    position:absolute;
    margin:33px 0px 0px 85px;
    font-size:11px;
    color:#efff00;
}

#right #armurerie {
    width:207px;
    height:79px;
    background:url('rightArmurerie.png') no-repeat;
    margin:0px 0px 8px 1px;
}

#right #armurerie .none {
    width:165px;
    height:22px;
    font-size:10px;
    color:#ca9308;
    position:absolute;
    margin:47px 0px 0px 11px;
    border:0;
    background:transparent;
}

#right #armurerie .submit {
    width:21px;
    height:26px;
    position:absolute;
    margin:44px 0px 0px 179px;
    border:0;
    background:transparent;
    cursor:pointer;
}

#right #armurerie .submit:hover {
    background:url('hRightArmurerie.png') no-repeat;
}

#right #forum {
    width:210px;
    height:218px;
    background:url('rightForum.png') no-repeat;
    margin:5px 0px 8px 1px;
    font-size:10px;
    color:#ffffff;
}

#right #forum .post {
    text-align:right;
    width:180px;
    height:12px;
    margin:4px 0px 0px -4px;
}

#right #forum a {
    color:#ffffff;
    text-decoration:none;
}

#right #forum a:hover {
    text-decoration:underline;
}

#right #lien {
    width:206px;
    height:68px;
    background:url('rightLien.png') no-repeat;
    margin:0px 0px 10px 0px;
}

#right #lien a {
    display:inline-block;
    width:48px;
    height:48px;
}

#right #lien a.facebook {
    margin:10px 0px 0px 11px;
}

#right #lien a.facebook:hover {
    background:url('lienFacebook.png') no-repeat;
}

#right #lien a.twitter {
    margin:10px 0px 0px 14px;
}

#right #lien a.twitter:hover {
    background:url('lienTwitter.png') no-repeat;
}

#right #lien a.youtube {
    margin:10px 0px 0px 13px;
}

#right #lien a.youtube:hover {
    background:url('lienYoutube.png') no-repeat;
}

#right #ahdio {
    width:206px;
    height:181px;
    background:url('rightAhdio.png') no-repeat;
    margin:-13px 0px 10px 3px;
}

#right #publicite {
    width:210px;
    height:681px;
    background:url('rightPublicite.png') no-repeat;
    margin:0px 0px 8px 1px;
}

#contenu {
    width:626px;
    background:url('midContenu.png') repeat-y;
    margin:5px 0px 0px 295px;
    color:#8f866f;
    font-size:12px;
    padding:0 0 0 0;
}

#contenu #title {
    width:515px;
    height:40px;
    margin:3px 0px 0px 12px;
    line-height:42px;
    padding:0px 0px 0px 87px;
    background:url('/title.png') no-repeat;
    font-size:20px;
    color:#908a77;
}

#contenu #title span {
    position:absolute;
    margin:-1px 0px 0px 0px;
    color:#34322a;
}

#contenu .hr {
    margin:10px 0px 10px 25px;
}

#contenu a {
    color:#e58600;
    text-decoration:none;
}

#contenu a:hover {
    color:#94774d;
}

#contenu h1 {
    font-weight:normal;
    color:#ce6600;
    padding:0 0 0 0;
    margin:3px 0px 7px 20px;
    font-size:17px;
}

#contenu h2 {
    text-align:right;
    font-weight:normal;
    color:#7a7159;
    padding:0 0 0 0;
    font-size:11px;
    margin:0px 0px 0px 15px;
    width:580px;
}

#contenu h3 {
    text-align:right;
    font-weight:normal;
    color:#7a7159;
    padding:0 0 0 0;
    font-size:11px;
    margin:3px 0px 7px 15px;
    width:580px;
}

#contenu p {
    width:580px;
    color:#8f866f;
    font-size:11px;
    padding:0 0 0 0;
    margin:0px 0px 5px 15px;
}

#contenu p.error-message {
    width:540px;
    margin:auto;
    color:#e36154;
    border:1px dotted #e36154;
    background:#fec9b7;
    padding:7px;
}

#contenu p.clean-message {
    width:540px;
    margin:auto;
    color:#1e731a;
    border:1px dotted #1e731a;
    background:#aedca5;
    padding:7px;
}

#contenu p.infos-message {
    width:540px;
    margin:auto;
    color:#628cba;
    border:1px dotted #628cba;
    background:#b0c9e4;
    padding:7px;
}

#contenu p.vip-message {
    width:540px;
    margin:auto;
    color:#e8b23d;
    border:1px dotted #e8b23d;
    background:#ffef98;
    padding:7px;
}

#footer {
    clear:both;
    width:1030px;
    height:115px;
    /*background:url('footer. png') no-repeat;*/
    margin:10px 0px 0px 0px;
}

#contenu #trailler {
    width:586px;
    height:356px;
    background:url('trailler.png') no-repeat;
    margin:0px 0px 0px 16px;
    padding:6px 0px 0px 6px;
}

a.block {
    color:#ffe8b9;
    width:126px;
    height:38px;
    background:url('buttonSubmit.png') no-repeat;
    border:0;
    font-size:10px;
    display:inline-block;
    line-height:38px;
    text-align:center;
    cursor:pointer;
}

a.block:hover {
    background-position:-126px 0px;
    cursor:pointer;
}

a.active {
    color:#ffe8b9;
    width:126px;
    height:38px;
    background:url('buttonSubmit.png') -126px 0px no-repeat;
    border:0;
    font-size:10px;
    display:inline-block;
    line-height:38px;
    text-align:center;
    cursor:pointer;
}

#contenu a.block {
    color:#ffe8b9;
    width:126px;
    height:38px;
    background:url('buttonSubmit.png') no-repeat;
    border:0;
    font-size:10px;
    display:inline-block;
    line-height:38px;
    text-align:center;
    cursor:pointer;
}

#contenu a.block:hover {
    background-position:-126px 0px;
    cursor:pointer;
}

#contenu a.active {
    color:#ffe8b9;
    width:126px;
    height:38px;
    background:url('buttonSubmit.png') -126px 0px no-repeat;
    border:0;
    font-size:10px;
    display:inline-block;
    line-height:38px;
    text-align:center;
    cursor:pointer;
}

#INVALID-RULE {
    border:none;
}