{% extends layout %}

{% block content %}
	<h2>{{ name }}</h2>

	{{ make_form([
		['search', 'shop.item.search'|lang, null, search]
	]) }}<br />

	{% if items.count %}
		<ul>
			{% for item in items %}
			<li>&bull; {{ make_link('@glossary.item.show', item.getName(), {id: item.id}) }} ({{ item.level }})</li>
			{% endfor %}
		</ul>
		{{ pager|raw }}
	{% else %}
		<br />{{ 'itemcategory.empty'|lang }}
	{% endif %}
{% endblock %}