{% extends layout %}

{% block content %}
{% if level(LEVEL_ADMIN) %}{{ make_link('@glossary.item.update', 'act.new'|lang) }}<br />{% endif %}
<div style="width:300px;height:600px;overflow:auto; margin:auto;">
	<div class="show-this">{{ 'filter'|lang }}: <input type="text" id="searchItem" /></div>				
	<ul id="itemcategories">
		{% for i, category in categories %}
			<li>{{ make_link('@glossary.itemcategory', category, {'id': i}) }}</li>
		{% endfor %}
	</ul>
</div>
{% endblock %}