{% extends layout %}

{% block content %}
<div>
	{% if template.hasImage() %}
	<div style="float: left;">
		{{ make_img('items/' ~ template.id, EXT_PNG, {style: {'width': '70px', 'height': '70px'}}) }}
	</div>
	{% endif %}
	<div>
		<h2 style="display: inline">{{ template.getName()|raw }}</h2><br />
		({{ make_link({'controller': 'GlossaryItem', 'action': 'category', 'id': template.type}, [template.type, 'itemcategory']|lang) }} - {{ ('inventorytype.'~item_template_table.inventoryType(template.type))|lang }})
	</div>
</div>
<br clear="all" />
<div align="left">
	{% if level(LEVEL_ADMIN) %}{{ template.updateLink|raw }}<br />{% endif %}
	<b>{{ 'level'|lang }}</b>: {{ template.level }}<br />
	{% if template.pod %}
	<b>{{ 'weight'|lang }}</b>: {{ template.pod }}pods<br />
	{% endif %}
	{% if template.prix %}
	<b>{{ 'cost'|lang }}</b>: {{ template.prix }}K<br />
	{% endif %}
	{% if template.statstemplate %}
		<b>{{ 'shop._stats'|lang }}</b>:<br />
		<div style="margin-left: 25px;">{{ template.parseStats()|raw }}</div>
	{% endif %}
	{% if template.relatedExists('Craft') %}
		<b>{{ 'item.craft'|lang }}</b>:<br /><div style="margin-left: 25px;">{{ template.parseCraft()|raw }}</div>
	{% else %}
		<b>{{ 'item.uncraftable'|lang }}</b><br />
	{% endif %}
	{% if template.relatedExists('LootSources') and template.LootSources.count %}
	<b>{{ 'item.lootsources'|lang }}</B>:<br />
	<ul style="margin-left: 25px;">
		{% for lootSource in template.LootSources %}
		<li>&bull; {{ make_link(lootSource.Monster) }}&nbsp;{% include 'GlossaryItem/_as_loot' with {'loot': lootSource} %}</li>
		{% endfor %}
	</ul>
	{% else %}
	<b>{{ 'item.unlootable'|lang }}</b><br />
	{% endif %}
</div>
{% endblock %}