{{ make_form([
	['monster', null, 'hidden', monster.id],
	['item', 'itemtemplate.name_id'|lang ~ '<br>', null, loot.item],
	['required_pp', '<br>' ~ 'item.pp_required'|lang ~ '<br>', null, loot.seuil],
	['maximum', '<br>' ~ 'max'|lang ~ '<br>', null, loot.max],
	['rate', '<br>' ~ 'rate'|lang ~ ' (%)<br>', null, loot.taux],
]) }}