<ul id="loots">
	{% for loot in loots %}
	<li>
		&bull; {{ make_link(loot.get('ItemTemplate')) }}&nbsp;{% include 'GlossaryItem/_as_loot' with {'loot': loot} %}
		{% if level(LEVEL_ADMIN) %}{{ make_link('@glossary.loot.delete', '[x]', {'id': loot.id}) }}{% endif %}
	</li>
	{% endfor %}
</ul>
{% if level(LEVEL_ADMIN) %}
	{{ monster.addLootLink|raw }}
{% endif %}