{% extends layout %}

{% block content %}
	{% if spells.count %}
		{{ make_form([
			['search', 'spell.search'|lang, null, search]
		], '#', {'method': 'GET'}) }}

		<ul>
			{% for spell in spells %}
			<li>{{ make_link(spell) }}</li>
			{% endfor %}
		</ul>
		{{ pager|raw }}
	{% else %}
		{{ 'spell.empty'|lang }}
	{% endif %}
{% endblock %}