{% extends layout %}

{% block content %}
	<div style="float: left;">
		{{ make_img('spells/' ~ spell.id, EXT_PNG, {style: {'width': '70px', 'height': '70px'}, 'try': true}) }}
	</div>
	<div>
		<h2 style="display: inline">{{ spell.name }}</h2>
	</div>
{% endblock %}