<form action="#" method="POST">
	{{ input('send', 'send'|lang, 'submit', null) }}<br />
	{{ input('name', 'name'|lang, null, monster.name) }}<br />
	{{ input('gfx', 'GFX', null, monster.gfxid) }}<br />
	Kamas: {{ input('kamas_min', null, null, monster.minkamas) }} {{ 'to'|lang }} {{ input('kamas_max', null, null, monster.maxkamas) }}

	<div id="grades" align="left">
		<ul>
			<li><a href="#grade-1">Grade 1</a></li>
			<li><a href="#grade-2">Grade 2</a></li>
			<li><a href="#grade-3">Grade 3</a></li>
			<li><a href="#grade-4">Grade 4</a></li>
			<li><a href="#grade-5">Grade 5</a></li>
		</ul>
		{% for i, grade in monster.Grades %}
		<div id="grade-{{ i + 1 }}">
			{% include 'GlossaryMonster/_form_grade' with {'grade': grade, 'i': i} %}
		</div>
		{% endfor %}
	</div>
</form>