{% macro resistance_input(id, grade, i) %}
	{{ input('grade['~i~'][resistance]['~id~']', null, null, grade.resistances[id]) }}
{% endmacro %}
{% import "GlossaryMonster/_resistances" as resistances %}

{{ _self.resistance_input(0, grade, i) }}%{{ resistances.element_image('neu') }}<br />
{{ _self.resistance_input(1, grade, i) }}%{{ resistances.element_image('str') }}<br />
{{ _self.resistance_input(2, grade, i) }}%{{ resistances.element_image('int') }}<br />
{{ _self.resistance_input(3, grade, i) }}%{{ resistances.element_image('agi') }}<br />
{{ _self.resistance_input(4, grade, i) }}%{{ resistances.element_image('cha') }}