{% macro stat_input(id, grade, i) %}
	{{ input('grade['~i~'][stat]['~id~']', null, null, grade.stats[id]) }}
{% endmacro %}
{% import "GlossaryMonster/_stats" as stats %}

{{ _self.stat_input(0, grade, i) }}{{ stats.element_image('str') }}<br />
{{ _self.stat_input(1, grade, i) }}{{ stats.element_image('wis') }}<br />
{{ _self.stat_input(2, grade, i) }}{{ stats.element_image('int') }}<br />
{{ _self.stat_input(3, grade, i) }}{{ stats.element_image('agi') }}<br />
{{ _self.stat_input(4, grade, i) }}{{ stats.element_image('cha') }}