{% set actual = 0 %}
{% for id, level in spells %}
	{{ input('grade['~i~'][spell]['~actual~'][]', null, null, [id, 'spell']|lang) }} {{ 'lvl'|lang }}
	 {{ input('grade['~i~'][spell]['~actual~'][]', null, 'select', {1: 1, 2: 2, 3: 3, 4: 4, 5: 5}, level) }}<br />

	{% set actual = actual + 1 %}
{% endfor %}
<div class="spell-template">
{{ input('grade['~i~'][spell]['~actual~'][]', null, null) }} {{ 'lvl'|lang }}
 {{ input('grade['~i~'][spell]['~actual~'][]', null, 'select', {1: 1, 2: 2, 3: 3, 4: 4, 5: 5}) }}
</div>

<span class="actual" style="display: none;">{{ actual }}</span>