{{ input('grade['~i~'][level]', 'level'|lang, null, grade.level) }}<br />
{{ input('grade['~i~'][hp]', 'hp'|lang, null, grade.hp) }}<br />
{{ input('grade['~i~'][ini]', ['ae', 'stat']|lang, null, grade.ini) }}<br />
{{ input('grade['~i~'][xp]', 'xp'|lang, null, grade.xp) }}<br /><br />

<b>{{ 'shop.stat.dodge.pa'|lang }}</b>: {{ input('grade['~i~'][dodge][pa]', null, null, grade.dodge.0) }}%.<br />
<b>{{ 'shop.stat.dodge.pm'|lang }}</b>: {{ input('grade['~i~'][dodge][pm]', null, null, grade.dodge.1) }}%.<br />

<fieldset>
	<legend><u>{{ 'resistances'|lang }}</u></legend>
	<div class="resistance-inputs">
		{% include 'GlossaryMonster/_form_resistances' with {'resistances': grade.resistances, 'i': i} %}
	</div>
</fieldset>

<fieldset>
	<legend><u>{{ 'shop._stats'|lang }}</u></legend>
	<div class="stat-inputs">
		{% include 'GlossaryMonster/_form_stats' with {'stats': grade.stats, 'i': i} %}
	</div>
</fieldset>

<fieldset data-i="{{ i }}">
	<legend><u>{{ 'spells'|lang }}</u> <span class="add-spell" class="show-this" style="font-weight: bold;">[+]</span></legend>
	<div class="spells" id="spells-{{ i }}">
		{% include 'GlossaryMonster/_form_spells' with {'spells': grade.spells, 'i': i} %}
	</div>
</fieldset>