<h2>{{ 'loots'|lang }}</h2>
<div style="margin-left: 20px;">
	<b>Kamas</b>: {{ monster.minkamas }}{% if monster.minkamas != monster.maxkamas %} {{ 'to'|lang }} {{ monster.maxkamas }}{% endif %}.<br />
	{% if monster.Loots or level(LEVEL_ADMIN) %}
		{% include 'GlossaryLoot/_index' with {'loots': monster.Loots, 'monster': monster} %}
	{% endif %}
</div>