<b>{{ 'level'|lang }}</b>: {{ grade.level }}.<br />
<b>{{ 'hp'|lang }}</b>: {{ grade.hp }}.<br />
<b>{{ ['ae', 'stat']|lang }}</b>: {{ grade.ini }}.<br />
<b>{{ 'resistances'|lang }}</b>: {% include 'GlossaryMonster/_resistances' with {'resistances': grade.resistances} %}.<br />
<b>{{ 'shop._stats'|lang }}</b>: {% include 'GlossaryMonster/_stats' with {'stats': grade.stats} %}.<br />
<b>{{ 'shop.stat.dodge.pa'|lang }}</b>: {{ grade.dodge.0 }}%. <b>{{ 'shop.stat.dodge.pm'|lang }}</b>: {{ grade.dodge.1 }}%.<br />
{% if grade.spells %}
	<b>{{ 'spells'|lang }}</b>:
	<div style="margin-left: 20px;">
		{% for spell, level in grade.spells %}
		{% set name = [spell, 'spell']|lang ~ ' ' ~ 'lv'|lang ~ level %}
		<!--{{ make_img('spells/' ~ spell, EXT_PNG, name, name ~ '. ', {'try': true}) }}-->
		{{ make_link({'controller': 'GlossarySpell', 'action': 'show', 'id': spell}, name) }}<br />
		{% endfor %}
	</div>
{% endif %}