{% macro element_image(elem) %}
	{{ make_img('elements/d_' ~ elem, EXT_PNG, {'style': 'width: 25px; height: 25px;'}) }}
{% endmacro %}

{{ resistances.0 }}%{{ _self.element_image('neu') }}
{{ resistances.1 }}%{{ _self.element_image('str') }}
{{ resistances.2 }}%{{ _self.element_image('int') }}
{{ resistances.3 }}%{{ _self.element_image('agi') }}
{{ resistances.4 }}%{{ _self.element_image('cha') }}