{% macro element_image(elem) %}
	{{ make_img('elements/' ~ elem, EXT_PNG, {'style': 'width: 25px; height: 25px;'}) }}
{% endmacro %}

{{ stats.0 }}{{ _self.element_image('str') }}&nbsp;
{{ stats.1 }}{{ _self.element_image('wis') }}&nbsp;
{{ stats.2 }}{{ _self.element_image('int') }}&nbsp;
{{ stats.3 }}{{ _self.element_image('agi') }}&nbsp;
{{ stats.4 }}{{ _self.element_image('cha') }}