{% extends layout %}

{% block content %}
	{% if monsters.count %}
		{{ make_form([
			['search', 'monster.search'|lang, null, search]
		], '#', {'method': 'GET'}) }}

		<ul>
			{% for monster in monsters %}
			<li>{{ make_link(monster) }}</li>
			{% endfor %}
		</ul>
		{{ pager|raw }}
	{% else %}
		{{ 'monsters.empty'|lang }}
	{% endif %}
{% endblock %}