{% extends layout %}

{% block content %}
	<h2 style="display: inline;">{{ monster.name }}</h2>&nbsp;
	{% if level(LEVEL_ADMIN) %}{{ monster.updateLink|raw }}{% endif %}
	<!-- does not seem to be "acceptable" - values in the DB are "bad"
	{% if monster.align != -1 %}({{ [monster.align, 'alignment']|lang }}){% endif %}-->
	<br />
	<div align="left">
		<div id="grades">
			<ul>
				<li><a href="#grade-1">Grade 1</a></li>
				<li><a href="#grade-2">Grade 2</a></li>
				<li><a href="#grade-3">Grade 3</a></li>
				<li><a href="#grade-4">Grade 4</a></li>
				<li><a href="#grade-5">Grade 5</a></li>
			</ul>
			{% for i, grade in monster.Grades %}
			<div id="grade-{{ i + 1 }}">
				{% include 'GlossaryMonster/_grade' with {'grade': grade} %}
			</div>
			{% endfor %}
		</div><br />
		{% if monster.Loots or monster.maxkamas != 0 %}
			{% include 'GlossaryMonster/_gains' with {'loots': monster.Loots, 'minkamas': monster.minkamas, 'maxkamas': monster.maxkamas} %}
		{% endif %}
	</div>
{% endblock %}