/*
body
	// switches on the hardware compositing mode in Chrome
	-webkit-transform: translateZ(0)
*/

.dialog-base
	display: none

table.ladder
	//add more colors, it's automagic <3
	colors = #C06127 #33CCCC #FF99CC

	for color, i in colors
		tr:nth-child({i + 1})
			height: 10px * (length(colors) - i)
			color: color


form.inline
	margin-bottom: 0px

td.disabled
	background-color: grey

// better rendering of fieldsets
fieldset
	label
		display: inline

	input[size]
		width: auto

// shop dropdowns
.ui-tabs .ui-tabs-nav li ul.dropdown-menu
	li
		float: none