#recherche
	position: absolute
	width: 174px
	left: 29px
	top: 59px
	background-color: rgb(10, 5, 1)
	opacity: 0.7
	padding-bottom: 5px
	border-radius: 0px 0px 5px 5px
	transition-property: opacity
	transition: 0.2s ease

	b
		color: rgb(230,230,230)

.line
	padding: 5px
	color: rgb(200, 200, 200)
	font-size: 10px
	cursor: pointer
	transition: background 0.5s ease 0s

	&:hover
		background: rgb(35,30,25)