<!DOCTYPE html>
<html>
	{% partial 'application/header' %}
	<body>
		{% partial 'application/block/boxes' %}

		<div id="contenteur"><!-- Template and div IDs are from Woa, not me :p -->
			<div id="header">
				<div class="play">
					{{ make_link('@join', make_img('playr', EXT_PNG)) }}
				</div>
			</div>

			<div id="contenu">
				<div id="left">
					{% partial 'application/menu' %}
				</div>
				<div id="middle_container">
					<div id="milieu">
						{% block page_content %}
						<!-- this cannot exist in ajax layout because it's checking for emptyness (ie Misc/index) -->
						<div class="post">
							<div class="content">
								<div class="infos">
									<div class="title">
										{% block page_title %}
											{{ title_basic }}
										{% endblock %}
									</div>
								</div>
								<div align="center" class="cont">
									<div><br /></div>
									{% block content %}
										{{ data|raw }}
									{% endblock %}
								</div>
							</div>
						</div>
						{% endblock %}
					</div>
				</div>
				<div id="right">
					{% partial 'application/right' %}
				</div>
			</div>
			{% partial 'application/footer' %}
			<!-- InfiniteCMS by Vendethiel -->
			{% if config.JAVASCRIPT %}
				{% partial 'application/js' %}
				<script>
				require('InfiniteCMS/menu')('#menus');
				{% block script %}
				{% endblock %}
				</script>
			{% endif %}
		</div>
	</body>
</html>
