/*
 * YUUKI - Web Template
 * DESIGN : Kitty
 * CODE : Keldraël
 * CONTACT : foxit_dawn / kirayann
 * Adaptation by V
 * Ce code n'est PAS libre de droit. (C) 2012
 **/

@import 'nib'

body
	background: url(bg.png) repeat

#footer
	background: #EEEEEE
	box-shadow: 1px black
	height: 40px
	width: 100%
	bottom: 0px
	position: fixed
	box-shadow: 0px -4px 5px 0px #C9C9C9
	
	.login
		float: right
		position: relative
		padding: 5px

	.search
		float: left
		padding: 5px

#header
	background: url(header.png) no-repeat
	width: 858px
	height: 309px
	margin: 0px auto

#menu
	background: url(gradient.png) repeat-x
	width: 858px
	height: 30px
	margin: 0px auto
	box-shadow: 2px 3px 3px 0px #E3E3E3
	border-radius: 2px
	text-align: center

	ul.menu
		list-style-type: none
		display: inline
		margin: 0px auto
		top: -40px
		position: relative

		li
			padding: 8px
			display: inline

			a
				letter-spacing: 2px
				color: black
				font-family: 'Myriad'
				text-transform: uppercase
				color: black
				text-shadow: 0px -1px 1px #333333
				transition: opacity ease-in 0.5s
				display: inline

				&:hover
					text-decoration: none
					opacity: 0.6
					transition: opacity ease-in 0.5s
					display: inline

	img
		position: relative
		top: -15px

#content
	background: #EFEFEF
	width: 858px
	min-height: 900px
	border: 2px #DFDFDF solid
	margin: 0px auto

	table
		&.center
			margin: 0px auto

	td
		&.avatar
			width: 130px
		&.text
			width: 700px
			font-family: 'Myriad'
			color: #A6A6A6
			text-shadow: 1px 1px 1px #EDEDED

.caption
	background: #9A332F
	border-radius: 4px
	padding: 2px
	width: 500px
	color: white
	text-shadow: 0px 0px 1px #333333

	a
		color: #F2D8D7

.pull-right
	a
		color: black
		font-family: 'Myriad'
		color: black
		text-shadow: 0px -1px 1px #333333
		transition: opacity ease-in 0.5s
		display: inline

#status
	background: url(barre.png)
	width: 858px
	height: 30px
	text-align: center
	font-family: 'Myriad'
	color: #A6A6A6
	text-shadow: 1px 1px 1px #EDEDED