@import "elements.css.less"; /* relative to asset directories */

#note
{
	color: black;
	display: none;
	position: absolute;
	top: 8%;
	left: 20%;
	right: 25%;
	width: 55%;
	height: 15%;
	z-index: 999;

	.opacity(0.9);
	.rounded(15px, 15px, 15px, 15px);
	.gradient(#eeeeee, darken(#eeeeee, 10%), lighten(#eeeeee, 10%));

	div
	{
		margin-left: 40px;
		margin-top: 5px;
		font-size: 25px;
	}
}